<mat-toolbar color="primary">
  <h1>ABM Clientes</h1>
    <div class="d-flex w-100 justify-content-end">
      <app-button [color]="'primary'" [clase]="'h-38'" [text]="'Clientes'" (clickButton)="ruteo($event)"></app-button>
      <app-button [color]="'primary'" [clase]="'h-38'" [text]="'Buscar Cliente'" (clickButton)="ruteo($event)"></app-button>
      <app-button [color]="'primary'" [clase]="'h-38'" [text]="'Nuevo Cliente'" (clickButton)="ruteo($event)"></app-button>
      <app-button [color]="'primary'" [text]="'Documentación'" > </app-button>
    </div>
  
  </mat-toolbar>
  