<mat-form-field appearance="outline" class="example-full-width">
    <mat-label> {{ label }} </mat-label>
    <input
      [tabIndex]="tabindex"
      matInput
      [placeholder]="placeHolder"
      [required]="requerido"
      autocomplete="off"
      (change)="cambios($event)"
      (blur)="valido($event)"
      [type]="type"
      [value]="valor"
      [readonly]="readOnly"
      [maxLength]="maximo"
    />
  </mat-form-field>
  
  <mat-label [ngClass]=" requerido && validaRequerido ? 'mat-error' : type === 'email' && !validaMail ? 'mat-error' : label === 'Cuit' && !validaCuit ? 'mat-error' : 'none' " >
   {{msj}}
  </mat-label>
