<app-header></app-header>
<div class="container mt-2">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Clientes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-table *ngIf="clientes.length > 0" [data]="clientes" [columns]="columnas" (clickButton)="editar($event)"></app-table>
        </mat-card-content>
    </mat-card>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#7b1fa2"
  type="ball-atom"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>